.min-h-screen{
    min-height: 100vh;
}

.bg-red{
    background-color: red;
}

.mx-auto{
    margin-left: auto;
    margin-right: auto;
}

.flex{
    display: flex;
}
.flex-col{
    flex-direction: column;
}
.align-center{

    align-items: center;
}
.justify-center{
    justify-content: center;
}
.text-center{
    text-align: center;
}


.my-2{
    margin-top: 20px;
    margin-bottom: 20px;
}

.text-large{
    font-size: 40px;
}

.font-roboto{
    font-family: 'Roboto', sans-serif;
}

.overflow-hidden{
    overflow: hidden;
}